.title-content {
    
    background-color: burlywood;
    border-radius: 20px;

}



.soytitulo{
    
    text-align: center;

}



#fetch {

    background-color: rgb(149, 236, 236);
    font-size: large;
    border-radius: 20px;
    text-align: center;

}

 
